body, html {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background-color: #f8f4f4; /* Pastel pink */
  color: #333;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
